<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="./public/css/app.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Visual Weather - Node Playground</a>
                </div>
            </div>
        </nav>
        
        <div class="container main-content flex-box">
            <div>
                <h2 id="addressInput" ng-cloak>{{ addressInput }}</h2>
                <h2> </h2>
            </div>
            <form>
                <div class="form-group">
                    <label>Please enter your zip code or city and state.</label>
                    <input class="form-control" 
                        type="text" id="location" 
                        name="location" 
                        placeholder="96817...Honolulu, HI"
                        ng-model="addressInput">
                </div>
                <button class="btn btn-danger center"
                        id="mainButton"
                        ng-click="">Get the Weather</button>
                <button class="btn btn-danger center"
                        ng-cloak
                        ng-click="reloadPage()">Clear</button>
            </form>
            <div>
                <h2 id="addressInput" ng-cloak>{{ addressInput }}</h2>
                <h2> </h2>
            </div>
        </div>

        <script type="text/javascript" src="./node_modules/angular/angular.min.js"></script>
        <script type="text/javascript" src="./public/scripts/ng_functions"></script>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>